.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: white;
}
#navbar {
  background-color: black;
  color: white;
}
th {
  text-align: left;
}

body{
  background-image:url('primate.jpg');
}

.chart div {
 font: 10px sans-serif;
 background-color: steelblue;
 text-align: right;
 padding: 3px;
 margin: 1px;
 color: white;
}

img.survey_image {
  position: fixed;
  right: 195px;
  top: 43px;
}