<div class="container">
  <h1>Fill out the survey</h1>

  <h1><%= @survey.name %></h1>
  <form action="/complete_survey" method="post">
      <% @survey.questions.each do |question| %>
        Question:<%= question.content %>
          <% question.responses.each do |response| %>
            <%= response.content %><input type="radio" name="<% question.id %>" value="<%= response.content %>">
            <% end %>
        <% end %>
    <input type="submit" value="submit">
  </form>
</div>
