<div class="container">
  <h1>Create your survey</h1>

  <form action="/create_survey" method="post">
      <label>Name Your  Survey: </label><input type="text" name="survey_name" ><br><br>
      <div class="question">
      <label>Ask a Question: </label><input type="text" name="questions[1]" ><br><br>
      <label>Give some Choices: </label>
      <div class="responses">
        <input type="text" name="response1" >  <input type="button" class="add_response" value="+"><br>
        </div>
        <div class="ADD_RESPONSE_HERE"></div>
      <br><br>
    </div>
    <div id="ADD_HERE"></div>
    <input type="button" id="add_question" value="Add a question">
    <input type="button" id="remove_question" value="Remove the last question">
    <input type="submit" value="Generate Survey">
    </form>
</div>

<script>

</script>
