<div class="container">
  <h1>Create your survey</h1>

  <form action="/create_survey" method="post">
    <div class="new_question">
      <label>Name Your Survey: </label><input type="text" name="survey_name" ><br>
      <label>Ask a Question: </label><input type="text" name="question_content" ><br>
      <label>Give some Choices: </label><br>
      <div class="responses">
        <input type="text" name="response1" ><br>
        <input type="text" name="response2"><br>
        <input type="text" name="response3"><br>
        <input type="text" name="response4"><br>
      </div>
    </div>
    <input type="submit" value="create question">
    </form>
</div>
