<div class="container">
  <h1>Why dontcha go ahead an' create a survey, b*+@#!</h1>

  <form action="/create_survey" method="post">
    <label>Name Your Muh-f#@&in' Survey: <input type="text" name="survey[name]" placeholder="Whatcho' survey called?!"><br>
    <label>Name Your Muh-f#@&in' Question: <input type="text" name="question[content]" placeholder="...got a question?"</label><br>
    <label>Name Your Muh-f#@&in' Choices: <input type="text" name="response[content1]" placeholder="Where yo' answers!?"><br>
    <input type="text" name="response[content2]" placeholder="Where your answers!?"></label><br>
    <input type="text" name="response[content3]" placeholder="Where your answers!?"></label><br>
    <input type="text" name="response[content4]" placeholder="Where your answers!?"></label><br>
    </label>
    <input type="submit" value="submit yo $#!+!">
  </form>

</div>
